## This is the simplest local.conf required for monasca and monasca-ui
[[local|localrc]]
ADMIN_PASSWORD=password
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
HOST_IP_IFACE=${HOST_IP_IFACE:-{{ ansible_default_ipv4.interface }}}
HOST_IP=${HOST_IP:-{{ ansible_default_ipv4.address }}}

## Use MariaDB instead of mysql-server
enable_plugin mariadb https://git.openstack.org/openstack/devstack-plugin-mariadb

## Disable openstack services
disable_service c-api c-sch c-vol # Disable Cinder services
disable_service g-api g-reg # Disable Glance services
disable_service n-api n-cond n-sch n-novnc n-cauth n-cpu # Disable Nova services
disable_service q-svc q-agt q-dhcp q-l3 q-meta # Disable Neutron services
disable_service tempest # Disable Tempest
